<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AgoraAppID</key>
	<string>a691bece736d4fa1bc23caedb7ae49e7</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Caption Buddy needs access to the microphone to record audio for your videos and generate captions</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Caption Buddy needs to access speech recognition to automatically generate captions from your video&apos;s audio</string>
	<key>NSCameraUsageDescription</key>
	<string>Caption Buddy needs access to the camera to record videos</string>
</dict>
</plist>
